<div class="toolbar-wrapper">
  <div class="content">
    <md-toolbar color="primary">
      <span class="title">{{ appTitle }}</span>
      <span class="version">v.{{ appVersion }}</span>

      <span class="toolbar-spacer"></span>

      <button *ngIf="isSignedIn"
              (click)="logout()"
              md-button>Log out</button>

      <button *ngIf="!isSignedIn"
              (click)="register()"
              md-button>Register</button>
    </md-toolbar>

    <ng-content></ng-content>
  </div>
</div>
