@import '~@angular/material/theming';

@mixin toolbar-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Use mat-color to extract individual colors from a palette as necessary.
  .toolbar-wrapper {
    background-color: mat-color($primary);
  }
}
