.canvas {
  margin: 20px 0;
  background-color: white;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 8px;
  padding-bottom: 10px;

  & > div {
    padding: 5px 10px;
  }
}

.canvas__menu,
.canvas__title,
.canvas__content {
  padding: 6px 12px;
}

.canvas__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.4);
  overflow: auto;

  .delete:not([disabled]) {
    color: red;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
    font-size: 12px;
    color: #666;
  }

  .middle {
    flex: 1 1 auto;
    text-align: center;
  }
}

.input__title,
.input__content {
  padding-top: 20px;
  width: 100%;
}

.input__content {
  height: 200px;
}

.draggable-element {
  cursor: move;
  box-sizing: border-box;
  transition: opacity 0.4s ease-in-out;
  display: inline-block;

  &.gu-transit {
    background-color: rgba(27, 92, 255, 0.4);
  }
}

.horizontal-line {
  margin: 25px 50px;
  border-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 601px) {
  .canvas {
    margin: 20px;
  }
}
