<div class="content content-wrapper">
  <div class="canvas">

    <form [formGroup]="form"
          (ngSubmit)="publish()"
          novalidate>
      <div class="canvas__menu">
        <div class="left">
          <button md-button
                  type="button"
                  (click)="cancel()">Cancel</button>

          <button md-button class="delete"
                  [disabled]="!isSavedProject"
                  type="button"
                  (click)="deleteProject()">Delete</button>
        </div>

        <div class="middle">
          <button md-button
                  (click)="save()"
                  type="button"
                  [disabled]="!form.valid">Save</button>

          <button md-button
                  color="warn"
                  type="submit"
                  [disabled]="!form.valid">{{ getPublishedButtonCopy }}</button>
        </div>

        <div class="right">
          <p>Status: {{ project?.status || 'draft' }}</p>
        </div>
      </div>

      <div class="canvas__title">
        <md-input-container class="input__title">
          <input mdInput
                 formControlName="title"
                 placeholder="Project title">
        </md-input-container>
      </div>

      <hr class="horizontal-line">

      <div class="canvas__content"
           [dragula]='"first-bag"'>

        <md-input-container class="input__content draggable-element">
          <textarea mdInput
                    mdTextareaAutosize
                    formControlName="content"
                    placeholder="Text block"></textarea>
        </md-input-container>

        <md-input-container class="input__content draggable-element">
          <textarea mdInput
                    mdTextareaAutosize
                    placeholder="Text block"></textarea>
        </md-input-container>

        <!-- <quill-editor [options]="editorOptions"
                      formControlName="newContent"></quill-editor> -->
      </div>

    </form>
  </div>

</div>
