<div class="content content-wrapper">
  <div class="canvas">

    <form [formGroup]="form"
          (ngSubmit)="publish()"
          novalidate>

      <div class="canvas__menu">
        <div class="left">
          <button md-button
                  type="button"
                  (click)="cancel()">Cancel</button>

          <button md-button class="delete"
                  [disabled]="!isSavedProject"
                  type="button"
                  (click)="deleteProject()">Delete</button>
        </div>

        <div class="middle">
          <button md-button
                  (click)="save()"
                  type="button"
                  [disabled]="!form.valid">Save</button>

          <button md-button
                  color="warn"
                  type="submit"
                  [disabled]="!form.valid">{{ getPublishedButtonCopy }}</button>
        </div>

        <div class="right">
          <p>Status: {{ project?.status || 'draft' }}</p>
        </div>
      </div>

      <div class="canvas__title">
        <md-input-container class="input__title">
          <input mdInput
                 formControlName="title"
                 placeholder="Enter your project's title...">
        </md-input-container>
      </div>

      <hr class="horizontal-line">

      <div class="canvas__content">
      <!-- <div class="canvas__content" [dragula]='"first-bag"'> -->

        <!-- <quill-editor class="input__content draggable-element" -->
        <quill-editor class="input__content"
                      [modules]="editorOptions"
                      placeholder="Enter your project's description here..."
                      formControlName="content"></quill-editor>

      </div>

    </form>

  </div>

</div>
