<h2 md-dialog-title>Publish</h2>

<md-dialog-content>

  <md-select class="input"
             placeholder="Area"
             required
             [(ngModel)]="model.area">
    <md-option *ngFor="let area of areas"
               [value]="area.$key">
      {{ area.label }}
    </md-option>
  </md-select>

  <md-input-container class="input">
      <input mdInput
             required
             [(ngModel)]="model.budget"
             placeholder="Budget">
  </md-input-container>

</md-dialog-content>

<md-dialog-actions>
  <button md-button
          md-dialog-close>Cancel</button>

  <button md-button
          [md-dialog-close]="model">Continue</button>
</md-dialog-actions>
