@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  min-width: 320px;
  margin: 112px 0 0;
  font-family: Roboto, sans-serif;
}

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

md-ink-bar {
  color: white !important;
  background-color:white !important;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  overflow: auto;
}

.content-wrapper {
  padding: 0 16px;
}

a.mat-tab-link {
  color: white;
}

a.mat-tab-link.active {
  opacity: 1;
}

nav.mat-tab-nav-bar {
  border-bottom: none;
}
