<app-toolbar appTitle="{{ appTitle }}"
             (onLogout)="logout()"
             isSignedIn>

  <nav md-tab-nav-bar
       class="content">
    <a md-tab-link
       class="vertical-aligned"
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
       [class.active]="rla.isActive">
      {{ link.label.toUpperCase() }}
    </a>

    <button md-button
            routerLink="/home/upload"
            class="vertical-aligned btn-upload"
            color="accent">UPLOAD</button>
  </nav>
</app-toolbar>

<div class="upload">
  <button md-fab
          *ngIf="!isUpload"
          color="warn"
          routerLink="/home/upload">
    <md-icon aria-label="Upload">add</md-icon>
  </button>
</div>

<router-outlet></router-outlet>
